<h2>To do List !</h2>

<hr>

<p class="p"> &nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore error rerum dolor, unde quasi ad, ullam minus perspiciatis in iste nisi iure nam mollitia aliquam eius. Labore nulla facilis dicta!. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur optio, ipsam, delectus dolore perspiciatis ratione voluptate est illum, cupiditate eum debitis recusandae dignissimos voluptas dolor in, rem sapiente. Officia, expedita!</p>

<p class="cr">&copy; Skr  |  2019</p>